<div class="row">
    <h2>Login as</h2>
    <div class="col-6">
        <a href="/login" type="button" class="btn btn-primary align-self-center">Teacher</a>
    </div>
    <div class="col-6">
        <a href="/login" type="button" class="btn btn-primary align-self-center">Student</a>
    </div>
</div>